
{% block content %}
<!-- Page Title -->
    <a href="{{ path('app_plan_nutritionnel_user') }}"><button class="btn btn-outline-dark"><i class="ri-arrow-left-fill"> &nbsp back to list</i></button></a>
    {{ include('plan_nutritionnel_user/form_plan.html.twig') }}
{% endblock %}