{% extends 'base.html.twig' %}

{% block title %}Commande confirmée{% endblock %}

{% block body %}
    <h1>Votre commande a été confirmée avec succès !</h1>
    {# Add any additional content or instructions for the user #}
{% endblock %}
