{% extends 'dashboard/baseD.html.twig'  %}
{% block title %}
<title>form_Activite_Physique</title>
{% endblock %}
{% block body %}
{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
{% endblock %}
