{% extends 'base_admin.html.twig' %}
{% block title %}Edit PlanNutritionnel{% endblock %}

{% block body %}
<!-- Page Title -->
 <div class="pagetitle">
      <h1> Nutrition </h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item ">Module Nutrition</li> 
          <li class="breadcrumb-item active">PlanNutritionnel</li>
        </ol>
      </nav>
    </div>
    <a href="{{ path('app_plan_nutrtionnel_index')  }}"><button class="btn btn-outline-dark"><i class="ri-arrow-left-fill"> &nbsp back to list</i></button></a>
  <!-- end Page Title -->

    {{ include('plan_nutrtionnel/_form.html.twig', {'button_label': 'Update'}) }}

{% endblock %}
