{# templates/order/success.html.twig #}

{% extends 'base_user.html.twig' %}

{% block title %}Order Success{% endblock %}

{% block content %}
    <h1>Your order was successful!</h1>
    <p>Thank you for your purchase.</p>
      
    {# You can add more content here as needed #}
{% endblock %}

